@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: 'Nova Script', cursive;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header img {
  width: 60%;
  margin-left: 60px;
  margin-top: -5px;
}

header h1 {
  text-align: center;
}

nav ul {
  list-style-type: none;
  text-align: center;
  margin-left: -30px;
}

nav li {
  display: inline-block;
}

nav a {
  display: inline-block;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  padding: 8px;
}

a:hover {
  background-color: #000;
}

.main img {
  width: 20%;
  margin-left: 13px;
}

main h2 {
  text-align: center;
}

.imageflex {
  width: 50px;
}

.card {
  list-style-type: none;
  margin: 0;
}

.card-body h3 {
  font-weight: normal;
  margin-bottom: 0;
}

.card-body p {
  margin-top: 0;
}

.cards {
  list-style-type: none;
  padding-left: 0;
}

.card-img img {
  display: block;
  margin: 0 auto;
}
